{{ define "main" }}
    <main aria-role="main">
        <div>
<!--            <h1>{{ .Site.Title }}</h1> -->

            {{- with .Site.Params.homeSubtitle }}
                <p>{{.}}</p>
            {{- end }}
<center><img src="ifti-splash.png" alt="" width="50%" height="50%"></center><p><p><p></br>
            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
    </main>
{{ end }}
